.modal-overlay {
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background: rgba(209, 204, 204, 0.858);
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
    
}

.modal-content h2 {
    margin-top: 0;
}

.modal-content form {
    display: flex;
    flex-direction: column;
}

.modal-content label {
    margin-bottom: 10px;
    width: 100%;
    font-weight: bold; /* Hace que los labels sean más gruesos */
}

.modal-content input {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 95%;
}

.modal-content button {
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.modal-content button[type="submit"] {
    background-color: #4c7aaf;
    color: white;
}

.modal-content button[type="button"] {
    background-color: #c2615a;
    color: white;
}

label{
    color: black;

}