h1 {
  color: #232175;
  text-align: center;
}

p{
    color: #232175;
}

.button-nuevo{
  background-color: #4A90E2;
  color: #ffffff;
  padding: 15px 30px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.button-atras{
    background-color: #7979e4;
    color: #eeeeee;
    padding: 10px 20px;
    border-radius: 5px;
    left: 0;
    
}

.delete-button {
    background-color: #7979e4;
    color: #eeeeee;
    padding: 10px 20px;
    border-radius: 5px;
    width: 100px;
    margin: 2px;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.card-item {
  margin: 8px;
  padding: 16px;
  background-color: #bdc2d3;
  border: 1px solid #ffffff;
  border-radius: 8px;
}

.titulo-card{
  justify-content: center;
}

.tittle {
  color: #4e4d8d; /* Color del texto */
  text-align: center; /* Centrar el texto */
  font-size: 50px; /* Tamaño de la fuente */
  font-weight: bold; /* Negrita */
  margin-bottom: 30px; /* Margen inferior */
  letter-spacing: 2px; /* Espaciado entre letras */
}

.button-container {
  display: flex;
  justify-content: flex-end; /* Alinear los botones a la derecha */
  gap: 10px; /* Espacio entre los botones */
  margin-bottom: 20px; /* Margen inferior para separación */
}

@media (max-width: 768px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}

.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}